.filter {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* branch */
.mantine-qew57g {
  min-width: 200px;
}

/* date */
.mantine-1klne3t {
  min-width: 200px;
}

@media (max-width: 450px) {
  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}