.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  margin-bottom: 20px;
}
.commitCards,
.issueCards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mantine-pggm6s {
  color: white;
  background-color: #3a73c5;
  border: 1px solid #3a73c5;
  transition: white 100ms ease;
  -webkit-tap-highlight-color: white;
  border-radius: 5px;
  initial-value: white;
}

/* .mantine-pggm6s:not(:disabled)::selection {
  background-color: white;
  color: white
}

.input{
  color: white;
  initial-value: white;
} */
