.commitCard {
	background-color: #f2f1f0;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	border: 1px solid #3a73c5;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	height: 70px;
	width: clamp(220px, calc(75vw), 800px);
}

.commitMessage {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.message,
.fullMessage {
	font-weight: bold;
}

.message {
	overflow: hidden;
	white-space: nowrap;
}

.fullMessage {
	overflow: visible;
	white-space: normal;
}

.commitInfo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 7px;
}

.profileImage {
	border-radius: 50px;
	height: 30px;
	width: 30px;
}

p {
	margin-bottom: 0px;
	margin-top: 0px;
}

.authored {
	color: grey;
}

.showMoreIcon {
	cursor: pointer;
	min-width: 16px;
	min-height: 16px;
}

@media screen and (min-width: 500px) {
	.message {
		font-size: 16px;
	}
	.authored,
	.profileName {
		font-size: 14px;
	}
}

@media screen and (max-width: 500px) {
	.message {
		font-size: 14px;
	}
	.authored,
	.profileName {
		font-size: 12px;
	}
}
