.commitCard {
  background-color: #f2f1f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #3a73c5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  height: 100%;
  width: clamp(200px, calc(75vw), 400px);
}

.title {
  font-size: 12px;
  font-weight: bold;
}

.commitInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.committedAt,
.author {
  font-size: 10px;
}

.committedAt {
  color: grey;
}

.profileImage {
  border-radius: 50px;
  height: 30px;
  width: 30px;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 10px;
  }
  .committedAt,
  .author {
    font-size: 8px;
  }
}
