.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  margin-top: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

header h1 {
  font-size: 16px;
}

.getLabLogo {
  max-width: 100px;
}

footer {
  display: flex;
  margin-top: auto;
  padding: 24px;
  justify-content: flex-end;
}

footer p {
  margin: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
}

@media screen and (max-width: 720px) {
  .getLabLogo {
    width: 75px;
  }
  .headerContainer h1 {
    margin-top: 0px;
  }
  .headerContainer {
    flex-direction: column;
  }
}
